/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

.dataTables_wrapper {
    margin-bottom: 40px;
}

.dt-buttons {
    margin-left: 20px;
    float: right!important;
}

button.dt-button, 
div.dt-button, 
a.dt-button {
    font-size: 0.8rem!important;
}