<div class="col col-lg-12">
  <div class="panel panel-default mt-4">
    <!-- /.panel-heading -->
    <div class="panel-body">
      <p>
        <b>Inventory Management</b>
      </p>
      <div class="button-group mb-3">
        <button (click)="addInventory()" class="btn btn-primary">Add New</button>
        <button class="btn btn-primary ml-2" (click)="toggleSearch()">More Filters</button>

        <select *ngIf="!isAgent" class="form-control ml-2" id="selectAgent" name="agentId" (change)="onAgentChange()"
          [(ngModel)]="selectedAgent" style="width: 200px;display:inline-block;">
          <option value="0">Select Agent</option>
          <option *ngFor="let u of users" value="{{ u?._id }}">{{ u?.name }}</option>
        </select>
      </div>
      <div id="search" class="box-head mb-3" style="display:none;">
        <div class="container mt-4">

          <div class="form-check form-check-inline">
            <input class="form-check-input" (click)=areaChange($event) type="radio" name="inlineRadioOptions" id="inlineRadio1"
              value="1">
            <label class="form-check-label" for="inlineRadio1">Sq. Feet</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" (click)=areaChange($event) type="radio" name="inlineRadioOptions" id="inlineRadio2"
              value="2">
            <label class="form-check-label" for="inlineRadio2">Marla</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" (click)=areaChange($event) type="radio" name="inlineRadioOptions" id="inlineRadio3"
              value="3">
            <label class="form-check-label" for="inlineRadio3">Kanal</label>
          </div>

          <br>
          <br>
          <div class="form-row">
            <div class="form-group col-md-6">
              <h5>Size</h5>
              <label>
                Min
                <input type="number" class="px100" [(ngModel)]="minA" (keyup)="filter()" />
              </label>
              <label>
                Max
                <input type="number" class="px100" [(ngModel)]="maxA" (keyup)="filter()" />
              </label>
            </div>

            <br>
            <br>
            <div class="form-group col-md-6">
              <h5>Price</h5>
              <label>
                Min
                <input type="number" class="px100" [(ngModel)]="minD" (keyup)="filter()" />
              </label>
              <label>
                Max
                <input type="number" class="px100" [(ngModel)]="maxD" (keyup)="filter()" />
              </label>
            </div>
          </div>

          <div class="form-row">

            <div class="formgroup col-md-4">
              <label for="inputCity">
                <b>City</b>
              </label>
              <select class="form-control" id="selectCity" name="cityId" (change)="onCityChange($event.target.value)">
                <option value="0" selected>Select city</option>
                <option *ngFor="let city of newcities" value="{{ city?._id }}">{{ city?.name }}</option>
              </select>
            </div>

            <div class="formgroup col-md-4">
              <label for="locId">
                <b>Location</b>
              </label>
              <select class="form-control" id="selectLocation" name="locId" (change)="onLocationChange($event.target.value)">
                <option value="0" selected>Select location</option>
                <option *ngFor="let loc of newLocations" value="{{ loc?._id }}">{{ loc?.location }}</option>
              </select>
            </div>

            <div class="formgroup col-md-4">
              <label for="locId">
                <b>Sub Location</b>
              </label>
              <select class="form-control" id="selectSubLocation" name="locId" (change)="onSubLocationChange($event.target.value)">
                <option value="0" selected>Select Sub Location</option>
                <option *ngFor="let sloc of newSubLocations" value="{{ sloc?._id }}">{{ sloc?.sublocation }}</option>
              </select>
            </div>

          </div>

          <div class="form-row">

            <div class="formgroup col-md-4">
              <label for="inputType">
                <b>Type</b>
              </label>
              <select class="form-control" id="selectPropertyType" name="propTypeId" (change)="onTypeChange($event.target.value)">
                <option value="0" selected>Select property type</option>
                <option *ngFor="let type of propertytypes" value="{{ type?._id }}">{{ type?.type }}</option>
              </select>
            </div>
          </div>

          <br>
          <button class="btn btn-info" (click)="resetSearch()">Reset</button>

        </div>
      </div>




      <p *ngIf="!(resultInventories && sublocations)">Please wait...</p>
      <table datatable [dtTrigger]="dtTrigger" class="table table-bordered table-hover" id="datatableId" [dtOptions]="dtOptions">
        <thead>
          <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Area</th>
            <th>Type</th>
            <th>Demand (Rs)</th>
            <th>Purpose</th>
            <th>Beds</th>
            <th>Client Details</th>
            <th *ngIf="auth.isAdmin()">Agent Assigned</th>
            <th data-priority="1">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX" *ngFor="let inv of resultInventories">
            <td>{{ inv._id }}</td>
            <td>{{ inv.location }}</td>
            <td>{{ inv.newarea }}</td>
            <td>{{ inv.type }}</td>
            <td>{{ inv.demand }}</td>
            <td *ngIf="inv.purpose == 1">Sell</td>
            <td *ngIf="inv.purpose == 2">Buy</td>
            <td *ngIf="inv.purpose == 3">Rent</td>
            <td>{{ inv.beds }}</td>
            <td>
              <b>Name:</b> {{ getClientDetails(inv.leadId).clientName }} <br>
              <b>Phone:</b> {{ getClientDetails(inv.leadId).phoneNumber }} <br>
              <b>Type: </b> <span *ngIf="getClientDetails(inv.leadId).clientType == 1">Owner</span>
              <span *ngIf="getClientDetails(inv.leadId).clientType == 2">Dealer</span>
              <span *ngIf="getClientDetails(inv.leadId).clientType == 3">Buyer</span>
            </td>
            <td *ngIf="auth.isAdmin()">
              <span *ngIf="getUserDetails(getClientDetails(inv.leadId).assignedTo)">
                <b>Name:</b> {{ getUserDetails(getClientDetails(inv.leadId).assignedTo).name }} <br>
                <b>Phone:</b> {{ getUserDetails(getClientDetails(inv.leadId).assignedTo).phone }}
              </span>
            </td>
            <td>
              <a (click)="editLead(inv.leadId)" class="btn btn-sm btn-default">
                <i class="fas fa-edit" style="font-size:1.2rem"></i> Edit
              </a>
              <button (click)="delModal(inv.leadId)" class="btn btn-sm btn-default" data-toggle="modal" data-target="#delModal">
                <i class="fas fa-trash" style="font-size:1.2rem"></i>
              </button>
              <!-- <button (click)="addToWeb(inv)" class="btn btn-sm btn-success mt-1 ml-1">
                <i class="fas fa-plus-square"></i> Add to website
              </button> -->
            </td>
          </tr>
        </tbody>

      </table>

      <!-- Delete Modal -->
      <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Alert!!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="deletebtn" (click)="deleteLead()" type="button" class="btn btn-danger" data-dismiss="modal">Yes,
                delete it</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->