<div class="container">
  <div class="row">
    <div class="col align-self-center box-head">
      <p *ngIf="!(users && cities && propTypes && locations)">Please wait...</p>
      <form *ngIf="users && cities && propTypes && locations" #f="ngForm">
        <h3 *ngIf="!isLead">Important: You are adding inventory</h3>
        <div class="form-row">

          <b class="ml-2 mr-2">Purpose:</b>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="purpose" [(ngModel)]="lead.purpose" #purpose="ngModel"
              id="purpose1" [value]="1" required>
            <label class="form-check-label" for="purpose1">
              Sell
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="purpose" [(ngModel)]="lead.purpose" #purpose="ngModel"
              id="purpose2" [value]="2" required>
            <label class="form-check-label" for="purpose2">
              Buy
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="purpose" [(ngModel)]="lead.purpose" #purpose="ngModel"
              id="purpose3" [value]="3" required>
            <label class="form-check-label" for="purpose3">
              Rent
            </label>
          </div>

        </div>

        <div class="form-row">
          <!-- Get city names here -->
          <div class="form-group col-md-6">
            <label for="inputCity"></label>
            <ng-select 
              [items]="cities" 
              bindLabel="name" 
              bindValue="_id" 
              name="cityId"
              placeholder="Select city"
              [(ngModel)]="lead.cityId" 
              (change)="onChange($event)"
              #cityId="ngModel" required>
            </ng-select>
            <p *ngIf="!(cityId.touched || cityId.dirty)" style="color:blue">
              <b>Step 2: Select city</b>
            </p>
          </div>

          <!-- Get Property Types here -->
          <div class="form-group col-md-6">
            <label for="inputType"></label>
            <ng-select 
              [items]="propTypes" 
              bindLabel="type" 
              bindValue="_id" 
              name="propTypeId"
              placeholder="Select property type"
              [(ngModel)]="lead.propTypeId" 
              #propTypeId="ngModel" required>
            </ng-select>
            <p *ngIf="!(propTypeId.touched || propTypeId.dirty)" style="color:blue">
              <b>Step 3: Select the property type</b>
            </p>
          </div>

        </div>
        <div class="form-row">

          <!-- Get Locations here -->
          <div class="form-group col-md-6">
            <label for="locId">Select location</label>
            <!-- <select class="form-control" id="selectLocation" name="locId" [(ngModel)]="lead.locationId" #locId="ngModel"
              (change)="onLocChange($event.target.value)" required>
              <option value="0" selected>Select location</option>
              <option *ngFor="let loc of newLocations" value="{{ loc?._id }}">{{ loc?.location }}</option>
            </select> -->

            <ng-select 
              [items]="newLocations" 
              bindLabel="location" 
              bindValue="_id" 
              name="locId"
              placeholder="Select location"
              [(ngModel)]="lead.locationId"
              (change)=onLocChange($event) 
              #locId="ngModel" required>
            </ng-select>

            <select *ngIf="isLocation" class="form-control mt-2" id="selectSubLocation" name="sublocId" [(ngModel)]="lead.sublocationId">
              <option value="0" selected>Select Sub Location</option>
              <option *ngFor="let sloc of newSubLocations" value="{{ sloc?._id }}">{{ sloc?.sublocation }}</option>
            </select>
            <p *ngIf="!(locId.touched || locId.dirty)" style="color:blue">
              <b>Step 4: Select the location</b>
            </p>
          </div>

          <div class="form-group col-md-3">
            <label for="propNumber">{{ getPropertyType }} #</label>
            <input type="text" class="form-control" name="propNumber" [(ngModel)]="lead.propNumber" #propNumber="ngModel"
              required id="inputPropNumber" placeholder="{{ getPropertyType }} #">
            <p *ngIf="!propNumber.valid" style="color:blue">
              <b>Step 5: Enter {{ getPropertyType }} number</b>
            </p>
          </div>

          <div class="form-group col-md-3">
            <label for="street">Street #</label>
            <input type="text" class="form-control" name="street" [(ngModel)]="lead.street" id="inputStreet"
              placeholder="Street #">
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="inputDemand">Demand (Rs)</label>
            <input type="text" class="form-control" name="demand" [(ngModel)]="lead.demand" #demand="ngModel" required
              id="inputDemand">
            <p *ngIf="!demand.valid" style="color:blue">
              <b>Step 7: Enter demand</b>
            </p>
          </div>

          <div class="form-group col-md-3">
            <label for="inputArea">Land Area</label>
            <input type="text" class="form-control" name="area" [(ngModel)]="lead.area" #area="ngModel" required id="inputArea">
            <p *ngIf="!area.valid" style="color:blue">
              <b>Step 8: Enter area</b>
            </p>
          </div>

          <div class="form-group col-md-3">
            <select id="inputSize" class="form-control" name="areaUnit" [(ngModel)]="lead.areaUnit">
              <option value="1" selected>Sq. Feet</option>
              <option value="2">Marla</option>
              <option value="3">Kanal</option>
            </select>
          </div>

        </div>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="inputBeds">No. of beds</label>
            <input type="text" class="form-control" name="beds" [(ngModel)]="lead.beds" #beds="ngModel" required id="inputBeds">
            <p *ngIf="!beds.valid" style="color:blue">
              <b>Optional: Enter number of beds</b>
            </p>
          </div>

          <div class="form-group col-md-6">
            <label *ngIf="isLead" for="inputCmt">Comment</label>
            <input *ngIf="isLead" type="text" class="form-control" name="cmt" [(ngModel)]="lead.cmt" id="inputCmt">
          </div>

        </div>
        <hr>
        <h6>Client Details</h6>
        <div class="form-row">

          <div class="form-group col-md-6">
            <input type="text" class="form-control" name="clientName" [(ngModel)]="lead.clientName" #clientName="ngModel"
              required id="inputName" placeholder="Client Name">
            <p *ngIf="!clientName.valid" style="color:blue">
              <b>Step 9: Enter client name</b>
            </p>
          </div>

          <div class="form-group col-md-6">
            <select id="inputClientType" name="clientType" [(ngModel)]="lead.clientType" #clientType="ngModel" class="form-control">
              <option value="1" selected>Owner</option>
              <option value="2">Dealer</option>
              <option value="3">Buyer</option>
            </select>
            <p *ngIf="!(clientType.touched || clientType.dirty)" style="color:blue">
              <b>Step 10: Select the client type</b>
            </p>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="lead.phoneNumber" #phoneNumber="ngModel"
              required id="inputPhone" placeholder="Phone #" required>
            <p *ngIf="!phoneNumber.valid" style="color:blue">
              <b>Step 11: Enter client phone number</b>
            </p>
          </div>

          <div class="form-group col-md-6">
            <select *ngIf="isLead" id="selectAgent" name="assignedTo" [(ngModel)]="lead.assignedTo" class="form-control">
              <option value="0" selected>Not assigned to any agent</option>
              <option *ngFor="let user of users" value="{{ user?._id }}">{{ user?.name }}</option>
            </select>
          </div>

        </div>

        <div class="text-left">
          <button [disabled]="!f.valid" (click)="addLead()" class="btn btn-success">Save</button>
          <p *ngIf="!f.valid" style="color: red;">Please fill all required fields</p>
        </div>

      </form>
    </div>
  </div>
</div>