<div class="col col-lg-12">
  <div class="panel panel-default mt-4">
    <!-- /.panel-heading -->
    <div class="panel-body">
      <p>
        <b>Leads Management</b>
      </p>
      <div class="button-group mb-3">
        <button (click)="addLead()" class="btn btn-primary">Add New</button>
      </div>
      <p *ngIf="!(resultLeads && inventories && cities && propertytypes && locations && users && statusTypes)">Please wait...</p>
      <table *ngIf="resultLeads && inventories && cities && propertytypes && locations && users && statusTypes && sublocations" datatable class="table table-bordered table-hover"
        style="table-layout:auto;" [dtOptions]="dtOptions" id="datatableId">
        <thead>
          <tr>
            <th>ID</th>
            <th data-priority="1">Lead Information</th>
            <th>Contact #</th>
            <th>Type</th>
            <th>Assigned To</th>
            <th *ngIf="auth.isAdmin()">Admin Status</th>
            <th>Agent Status</th>
            <th data-priority="2">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd gradeX" *ngFor="let l of resultLeads">
            <td>{{ l._id }}</td>
            <td>
              <u style="text-transform:capitalize;">{{ l.clientName.toLowerCase() }}</u> want to
              <span *ngIf="getInventory(l._id).purpose == 1">
                "sell the {{ getPropertyType(l._id).type }}"</span>
              <span *ngIf="getInventory(l._id).purpose == 2">
                "buy the {{ getPropertyType(l._id).type }}"</span>
              <span *ngIf="getInventory(l._id).purpose == 3">
                "rent the {{ getPropertyType(l._id).type }}"</span>
              in <span *ngIf="getSubLocation(l._id).sublocation">{{ getSubLocation(l._id).sublocation }},</span> 
              {{ getLocation(l._id).location }}, {{ getCity(l._id).name }}.
              <br>
              <b>Area</b>: {{ getInventory(l._id).area }}
              <span *ngIf="getInventory(l._id).areaUnit == 1">Sq. Feet</span>
              <span *ngIf="getInventory(l._id).areaUnit == 2">Marla</span>
              <span *ngIf="getInventory(l._id).areaUnit == 3">Kanal</span>
              <b>Demand</b>: {{ getInventory(l._id).demand }}
              <b>{{ getPropertyType(l._id).type }} #</b>: {{ getInventory(l._id).propNumber }}
              <b>Street</b>: {{ getInventory(l._id).street }} <br>
              <b>Comment</b>: {{ l.cmt }}
            </td>
            <td>{{ l.phoneNumber }}</td>

            <td *ngIf="l.clientType == 1">Owner</td>
            <td *ngIf="l.clientType == 2">Dealer</td>

            <td>{{ getUser(l.assignedTo).name }}</td>

            <td *ngIf="auth.isAdmin()">{{ getStatusType(l.leadAdminStatus) }}</td>
            <td>{{ getStatusType(l.leadAgentStatus) }}</td>
            <td>
              <a *ngIf="auth.isAdmin()" (click)="changeStatus(l.leadAdminStatus, l._id)" class="btn btn-sm btn-default">
                <i class="fas fa-exchange-alt" style="font-size:1.2rem"></i>
              </a>
              <a *ngIf="auth.isAgent()" (click)="changeStatus(l.leadAgentStatus, l._id)" class="btn btn-sm btn-default">
                <i class="fas fa-exchange-alt" style="font-size:1.2rem"></i>
              </a>
              <a (click)="editLead(l._id)" class="btn btn-sm btn-default">
                <i class="fas fa-edit" style="font-size:1.2rem"></i>
              </a>
              <a (click)="deleteLead(l._id)" class="btn btn-sm btn-default">
                <i class="fas fa-trash" style="font-size:1.2rem"></i>
              </a>
            </td>
          </tr>

        </tbody>

        <tfoot>
          <tr>
            <th>
              <input id="leadInput21" type="text" size="4" placeholder="ID" />
            </th>
            <th>
              <input id="leadInput21" type="text" placeholder="Lead Info" />
            </th>
            <th>
              <input id="leadInput21" type="text" placeholder="Contact" />
            </th>
            <th>
              <input id="leadInput21" type="text" placeholder="Type" />
            </th>
            <th>
              <input id="leadInput21" type="text" placeholder="Assigned To" />
            </th>
            <th *ngIf="auth.isAdmin()">
              <input id="leadInput21" type="text" placeholder="" />
            </th>
            <th>
              <input id="leadInput21" type="text" placeholder="" />
            </th>
            <th>
              <i class="fab fa-searchengin" style="font-size:1.8rem;"></i>
            </th>
          </tr>
        </tfoot>

      </table>

    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->